*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #6A5ACD;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    font-family: "Encode sans",sans-serif;
}

.main{
    width: 600px;
    max-width: 95%;
    text-align:center;
    background-color: white;
    padding: 35px 20px;
    border-radius: 10px;
}

.main >h1{
    font-size: 39px;
    color: rgb(24, 23, 23);
    margin: 0 0 30px 0;
}

.main > form > input{
    width: 100%;
    padding: 10px;
    background-color: #ccc;
    color: gray;
    border: 0;
    margin: 10px 5px;
    border-radius: 8px;
}

.main >form >button{
    background-color: #6A5ACD;
    padding: 15px;
    width: 100%;
    border: none;
    color: white;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 5px;
}

.main >form >button:hover{
    background-color: #2b11d3;
    color: white;
}

.main >form > input:focus,
.main >form > button:focus{
    outline: none;
}

.header{
    margin-left: 1300px;
}

.btn{
    background-color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.header > button > a{
    font-size: 20px;
    color: #6A5ACD;
    text-decoration: none;
}

.header > button:hover{
    background-color: #2b11d3;
}

.header > button > a:hover{
    color: white;
}